html{

	box-sizing: border-box;
	font-size: 1px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

body{

	font-size: 16rem;
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
	padding: 0;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.wrapper {

	background-color: green;

}

.navBar-container{
	border-bottom: 1rem solid grey;
	box-sizing: border-box;
	height:50rem;
	line-height: 50rem;
	width: 100%;
	background-color: white;
}

.product-page-wrapper{
	display: grid;
	grid-template-columns: 250rem 15rem auto 15rem;
	background-color: #E6E6E6;

}

.list-and-chart-container{
	display: grid;
	grid-template-columns: calc(50rem + ((100% - 100rem)/8*5)) calc(50rem + ((100% - 100rem)/8*3));
}

.sideLeftBar-container{

	background-color: grey;
	box-sizing: border-box;
	border-right: 1rem solid grey;

}

.list-container{

	background-color: #E5E7E9;
	box-sizing: border-box;
	overflow: auto;
	height: calc(100vh - 50rem);
	max-height: calc(100vh - 50rem);
}

.side-cart-container{
	display: grid;
	grid-template-columns: 15rem 1fr;
	box-sizing: border-box;
}
 
.listItem-container{
	display: grid;
	grid-template-columns: calc(50rem + ((100% - 50rem)/5)) calc(((100% - 50rem)/5*4) - 50rem) 50rem;
}

.favourites-and-cart-container{
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 50rem 1fr;
	height: 50rem;
	background-color: white;
	border-right: 1rem solid #BDC3C7;
	border-bottom: 1rem solid #BDC3C7;
	border-left: 1rem solid #BDC3C7;
}

.profilePicture-container{
	box-sizing: border-box;
	background-color: white;
	padding: 15rem;
	border-left: 1rem solid #BDC3C7;
	border-right: 1rem solid #BDC3C7;
	border-bottom: 1rem solid #BDC3C7;
	height: calc(100% - 100rem);
}

.addBorderTop{
	border-top: 1rem solid #BDC3C7;
}

.addBorderBottom{
	border-bottom: 1rem solid #BDC3C7;
	box-sizing: border-box;
}

.standarCenterRow-container{
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto auto;
	height: 50rem;
	background-color: white;
	border-right: 1rem solid #BDC3C7;
	border-bottom: 1rem solid #BDC3C7;

}

.more-info-container{
	background-color: white;
	box-sizing: border-box;
	height: 100%;

}

.profilePicture-wrapImg{
	box-sizing: border-box;
	line-height: 100%;
	border: 1rem solid #BDC3C7;
	font-size: 0;
}

.profilePicture-size220{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

.item-left-block{
	height: 100%;
}

.line-height{
	line-height:50rem;
	box-sizing: border-box;
}

.newTab-button{
	line-height: 50rem;
	height: 50rem;
	box-sizing: border-box;
	border-top: 1rem solid #BDC3C7;
	border-bottom: 1rem solid #BDC3C7;
	border-right: 1rem solid #BDC3C7;
}

.expand-button{
	box-sizing: border-box;
	line-height: 50rem;
	height: 50rem;
	border-bottom: 1rem solid #BDC3C7;
	border-right: 1rem solid #BDC3C7;
}

.icons{
	font-size: 25rem;
	vertical-align: middle;
}

.two-line-text{
	line-height: 50rem;
}

.two-line-text-right{
	padding-right: 10rem;
	padding-left:5rem;
	text-align: right;
	line-height: 50rem;

}

.two-line-text-left{
	padding-left: 10rem;
	padding-right:5rem;
	text-align: left;
	line-height: 50rem;
}

.float-right{
	display: inline-block;
	float: right;
}

.text{
	height:20rem;
	line-height: 20rem;
}

.fsz-16{
	font-size: 16rem;
}

.fsz-14{
	font-size: 14rem;
}

.fsz-12{
	font-size: 12rem;
}

.vertical-space{
	height: 5rem;
}

.spacing50rem{
	height:50rem;
}

.spacing-moreInfo-column{
	box-sizing: border-box;
	height: calc(100% - 100rem);
	border-bottom: 1rem solid #BDC3C7;
	border-right: 1rem solid #BDC3C7;
}

.bigPrice{
	font-size: 24rem;
	font-weight: bold;
}

.bigPriceDecimals{
	font-size: 14rem;
	font-weight: bold;
}

.priceNoVAT{
	font-size: 12rem;
	font-weight: bold;
	color: #909497;
}

.productName{
	font-size: 16rem;
	font-weight: bold;
}

.sideCart-container-top{
	background-color: #D6EAF8;
	}

.sideCart-container-total{
	background-color: #ABEBC6;
	}

.sideCart-container-middle{
	background-color: #F2F3F4;
	border-right: 1rem solid #BDC3C7;
	border-left: 1rem solid #BDC3C7;
	height: 100%;
}


.sideCart-standard-row-container{
	box-sizing: border-box;
	border-bottom: 1rem solid #BDC3C7;
	border-right: 1rem solid #BDC3C7;
	border-left: 1rem solid #BDC3C7;
	height: 50rem;
	line-height: 50rem;
	display: grid;
	grid-template-columns: auto 50rem;
}

.sideCart-total-row-container{
	box-sizing: border-box;
	border-bottom: 1rem solid #BDC3C7;
	border-right: 1rem solid #BDC3C7;
	border-left: 1rem solid #BDC3C7;
	height: 50rem;
	line-height: 50rem;
	display: grid;
	grid-template-columns: 50rem auto 50rem;
}

.sideCart-left-text-container{
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto auto;
	border-right: 1rem solid #BDC3C7;
	padding-left: 10rem;
	padding-right: 10rem;
}

.sideCart-left-text{
	line-height: 50rem;
	font-size: 16rem;
	font-weight: bold;
	text-align: left;
}

.sideCart-right-text-double{
	display: grid;
	grid-template-rows: 1fr 4fr 4fr 1fr;
	text-align: right;
}

.sideCart-right-text{
	line-height: 50rem;
	font-size: 16rem;
	font-weight: bold;
	text-align: right;
}

.singleCartItem-row-container{
	display: grid;
	grid-template-columns: 50rem 50rem auto 50rem;
	height: 50rem;
	line-height: 50rem;
	border-bottom: 1rem solid #BDC3C7;
}

.singleCartItem-icon-container{
	line-height: 50rem;

}

.singleCartItem-doubleIcon-container{
	line-height: 25rem;
	border-right: 1rem solid #BDC3C7;
	border-left: 1rem solid #BDC3C7;
	box-sizing: border-box;

}

.singleCartItem-text-container{
	display: grid;	
	grid-template-columns: auto auto ;
	padding:0 10rem;
}

.singleCart-txt-left{
	display: grid;
	grid-template-rows: 1fr 4fr 4fr 1fr;
}

.singleCart-txt-right{
	display: grid;
	grid-template-rows: 1fr 4fr 4fr 1fr;
	text-align: right;
}

.icons15rem{
	height: 15rem;
}

.border-top{
	border-top: 1rem solid #BDC3C7;
}

.border-left{
	border-left: 1rem solid #BDC3C7;
}

.border-bottom{
	border-bottom: 1rem solid #BDC3C7;
}

.border-right{
	border-right: 1rem solid #BDC3C7;
}

.icons25rem{
	font-size: 25rem;
}

.cont-row-20-30{
	display: grid;
	grid-template-rows: 20fr 30fr;
	height: 50rem;
	box-sizing: border-box;
	background-color: white;
	border-right: 1rem solid #CACFD2;
	border-bottom: 1rem solid #CACFD2;
	border-left: 1rem solid #CACFD2;
}

.row20{
	font-size: 12rem;
	font-weight: bold;
	color: #424949;
	border: 0;
	padding-right: 10rem;
	padding-left: 10rem;
	box-sizing: border-box;
	margin: 0;
	display: grid;
}

.row30{
	box-sizing: border-box;
	font-size: 14rem;
	margin: 0;

	border:0;
	padding-right: 10rem;
	padding-left: 10rem;

	display: grid;
}

.align-flex-end{
	align-items: flex-end;
}

.align-end{
	align-items: end;
}


.cont-row-create{
	display: grid;
	grid-template-columns: auto auto;
	height: 50rem;
	box-sizing: border-box;
	background-color: #85C1E9;
	border-right: 1rem solid #CACFD2;
	border-bottom: 1rem solid #CACFD2;
	border-left: 1rem solid #CACFD2;
}

.create-new{
	box-sizing: border-box;
	height: inherit;
	display: grid;
	grid-template-columns: auto ;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: left;
	padding-right: 5rem;
	padding-left: 10rem;
	font-weight: bold;
}

.save-cancel-container{
	box-sizing: border-box;
	height: inherit;
	display: grid;
	grid-template-columns: auto auto ;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: right;
	padding-right: 10rem;
	padding-left: 5rem;
}

.btn-save{
	box-sizing: border-box;
	font-size: 16rem;
	font-weight: bold;
	color: white;
	border: 1px solid #1B4F72;
	background-color: #2874A6;
	padding: 8rem;
	border-radius: 4rem;



}

.btn-cancel{
	box-sizing: border-box;
	padding-right: 10rem;
	font-weight: bold;

}

button{
	border: 0;
	padding: 0;
	background-color: transparent;
	outline: none;
}

input{
	outline: none;

}

select{
	outline: none;

}

::placeholder{

color: #A6ACAF;

}